@import "../../../variables.scss";

.author-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.author-cover {
  object-fit: cover;
  object-position: center;
  width: 300px;
  border: 1px solid $secondary-color;
  border-radius: 15px;
}

.author-details {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.author,
.publication-year {
  margin-bottom: 5px;
}

.add-button {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  width: 100%;
  margin: 10px;
}

.subject-container {
  display: flex;
  flex-wrap: wrap;

  span {
    border: 2px solid $primary-color;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: inline-block;
  }
}
