    <div class="card" *ngIf="book">
    <div class="card-content">
<img [src]="book.cover_url ? book.cover_url : '/assets/images/placeholder.png'" alt="Book Image" class="book-image" (click)="navigateToBookDetail()" />

  <div class="book-details">
        <div class="publication-year">{{book.first_publish_year}}</div>
    <div class="book-title link" (click)="navigateToBookDetail()">{{book.title}}</div>
    <div class="author link"  (click)="navigateToAuthorDetail()">{{book.author}}</div>
  </div>
  </div>
      <div class="actions" *ngIf="!wishlistScreen else  wishlistActions">
      <button class="action-button" (click)="navigateToBookDetail()">More</button>
      <button class="action-button wishlist-button"
      [ngClass]="{'warn-button': isInWishlist, 'primary-button'
      : !isInWishlist}"
      (click)="toggleWishlist()">{{isInWishlist ? 'Remove from WishList'
      : 'Add to WishList'}}</button>
    </div>

    <ng-template #wishlistActions>
      <div class="actions wishlist-action">
      <button class="action-button wishlist-button warn-button" (click)="removeFromWishlist()">Remove from Wishlist</button>
      </div>
    </ng-template>

</div>
