    <h1 class="page-title">Subject: Finance</h1>

<div class="row" *ngIf="books && books.length > 0; else noBooks">
  <div class="col-4" *ngFor="let book of books">
<app-book-card [book]="book" (openBookDetail)="goToBookDetail($event)"
(openAuthorDetail)="goToAuthorDetail($event)"
(wishlistToggle)="toggleWishList($event)"
[isInWishlist]="checkBookInWishList(book.book_olid)">
</app-book-card>
</div>
</div>

<app-confirm-modal *ngIf="showConfirmModal" (confirm)="onConfirm($event)" [title]="modalTitle"></app-confirm-modal>


<ng-template #noBooks>
<app-not-found [text]="'No Book Found, please refresh page'"></app-not-found>
</ng-template>
